body{
    background-image: url(https://www.xtrafondos.com/wallpapers/star-wars-logo-3654.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: gold;
    margin: auto;
    text-align: center;
    
}
p{
    color: gold;
    font-size: 18px;
}
button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    background-color: gold;
    border-radius: 6px;
    border: 2px solid gold;
    position: absolute;
    left: 1%;
    position: absolute;
    right: 1%;
    
}


